*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.Python
.env
*/settings_d*.py
*/settings_p*.py
# Other Path
env
static
eleui_dist
include
.DS_Store
.idea
media
learn*
logs
*.log
*.jpeg
*.jpg
*.png
*.gif
*.avi
*.wav

# Temp File
*~
*.swp

# Database
db.*
*.db
*.xls
*.xlsx
*.doc
*.docx
*.zip
*.7z
datasx/
fixtures
